body, html {
  height: 100%;
  line-height: 1.8;
  background-color: #fff; 
  color: rgb(0, 0, 0); 
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("https://cdn.prod.website-files.com/5a9ee6416e90d20001b20038/64dc6fbee79a172c3685dfc4_011.jpg");
  min-height: 920px;
}

.checkin-wrapper22 {
  background-color: #ffffff; /* Green background */
  padding: 20px 40px;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  color: #333; /* White text color */
}

.checkin-wrapper33 {
  background-color: #ffffff; /* Green background */
  padding: 20px 40px;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  color: #333; /* White text color */
}
