.w3-top .w3-bar {
  background-color: #4CAF50; /* Green background */
  color: #fff; /* White text */
}

.w3-bar .w3-button {
  padding: 16px;
  color: #fff; /* White text */
  text-decoration: none;
  transition: background-color 0.3s ease-in-out; /* Smooth background color transition */
}

.w3-bar .w3-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.w3-bar .w3-button.active {
  background-color: #66bb6a; /* Different shade of green to indicate active page */
}

.w3-sidebar .w3-bar-item {
  color: #fff; /* White text */
  transition: background-color 0.3s ease-in-out; /* Smooth background color transition */
}

.w3-sidebar .w3-bar-item:hover {
  background-color: #45a049; /* Darker green on hover */
}

.w3-sidebar .w3-bar-item.active {
  background-color: #66bb6a; /* Different shade of green to indicate active page */
}

.w3-button.w3-green {
  background-color: #4CAF50; /* Green background */
  color: #fff; /* White text */
  transition: background-color 0.3s ease-in-out;
}

.w3-button.w3-green:hover {
  background-color: #45a049; /* Darker green on hover */
}
